
$dark_gray: #292929;
$light_gray1: rgba(85, 85, 85, .4);
$light_gray2: rgba(136, 136, 136, .6);
$hover: #444;

/**
 *  The Social Icons
 */
#social-icons {
  float: left;
  margin-top: 18px;
  margin-left: 100px;

  a.fa {
    width: 25px;
    border-radius: 50px;
    text-align: center;

    font-size: 1.6em;
    font-weight: normal;
    text-decoration: none;

    padding: 8px;
    margin-left: 15px;
    color: white;
    background-color: black;
  }

  a.fa:hover {
    background-color: $hover;
  }
}

/**
  Navigation bar
 */
#navbar {
  position: absolute;
  top: 15px;
  left: 15px;
  
  .content {
    position: absolute;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    color: $dark_gray;
    background-color: $light_gray2;
  }

  .content::before {
    content: "";
    position: absolute;
    top: 0;
    width: 280px;
    height: 360px;
    backface-visibility: hidden;
    background-color: $light_gray2;
    
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: opacity .5s 1s,
                left .25s .5s,
                height .25s .5s;
  }

  .content.closed {
    width: 40px;
    height: 4px;
    margin: 20px;
    margin-left: 0px;

    opacity: 0;
    overflow: hidden;
    background-color: black;

    &::before {
      left: 200px;
      height: 0px;
      width: 0px;
    }
  }
  .content.opened {
    width: 280px;
    height: 380px;
    opacity: 1;
    margin-top: -15px;
    margin-right: 20px;
    background-color: $light_gray1;

    &::before {
      left: -15px;
    }
  }

  h1 {
    width: 75%;
    margin: 5px;
    padding: 5px;
    margin-left: 50px;
    color: $hover;
    border-bottom: 1px solid $hover;
    font-family: 'Muli', sans-serif;
  }

  ul {
    position: absolute;
    line-height: 40px;
    margin-top: 135px;
    list-style-type: none;
    li a {
      display: block;
      margin: 5px;
      padding: 5px;
      color: white;
      transition: color 250ms;
      user-select: none;
      font-family: 'Muli', sans-serif;
      text-decoration: none;
      font-weight: normal;
      font-size: larger;
    }
  
    li a:hover {
      color: $hover;
    }
  }

  a.open-nav,
  a.close-nav {
    position: absolute;
    z-index: 1000;

    cursor: pointer;
    padding: 20px;
  }

  a .nav-icon {
    width: 40px;
    height: 4px;
    position: absolute;
    transform: translate(-50%);
    background-color: $dark_gray !important;
    transition: background-color 250ms;
  }

  a .nav-icon::after,
  a .nav-icon::before,
  #to-top a .nav-icon::after,
  #to-top a .nav-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    height: 4px !important;
    background-color: inherit;
    backface-visibility: hidden;
    transition: transform 250ms ease;
  }

  a.open-nav .nav-icon::before { transform: translateY(-15px); }
  a.open-nav .nav-icon::after  {  transform: translateY(15px); }

  a.open-nav:hover .nav-icon { background-color: $hover !important; }
  a.open-nav:hover .nav-icon::before { transform: translateY(-15px); }
  a.open-nav:hover .nav-icon::after  { transform: translateY(15px); }

  a.close-nav .nav-icon { background-color: $hover !important; height: 0px; }
  a.close-nav .nav-icon::before { transform: rotate(-45deg); }
  a.close-nav .nav-icon::after  {  transform: rotate(45deg); }

  a.hidden {
    visibility: hidden;
  }
  a.bounce-in {
    visibility: visible;
    animation: navbar-bounce 0.6s;
  }
}

@media only screen and (max-width: 1200px) {
  #navbar { width: 350px; left: -220px; }
  #navbar {
    .content { width: 250px; }
    a .nav-icon {
      width: 85px;
      height: 12px !important;
    }
    ul li a { margin: 10px; }
    a.open-nav, a.close-nav { padding: 50px; }
    a.open-nav .nav-icon::before { transform: translateY(-26px); }
    a.open-nav .nav-icon::after  {  transform: translateY(26px); }
    a.open-nav:hover .nav-icon::before { transform: translateY(-30px); }
    a.open-nav:hover .nav-icon::after  { transform: translateY(30px); }
  }
}

@keyframes navbar-bounce {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(-50px);
  }
  60% {
    opacity: 1;
    transform: scale(1.1) translateX(50px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
