/**
 * The main CSS
 */

$dark_gray: #292929;

body {
  font-family: 'Roboto Mono';
}

#main {
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 50px;
  background: #f3f3f3;
}

#header {
  height: 300px;
  position: relative;
  background-color: white;
/*
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
*/

  .bg {
    float: right;
    height: 100%;
    width: 500px;
    position: relative;
    background: #cccccc;

    h1 {
      position: absolute;
      bottom: 0;
      right: 0.67em;

      font-size: 4.4em;
      color: $dark_gray;
      font-weight: normal;
      text-decoration: underline;
    }

    ft.light {
      font-weight: 300;
    }

    ft.medium {
      font-weight: 400 !important;
    }
  }
}
